extends base

block content
  main.main
    .signup-form
      h2.heading-secondary.ma-bt-lg Reset your Password
      form.form.form--resetPassword
        .form__group
          label.form__label(for='password') Password
          input#password.form__input(
            type='password',
            placeholder='••••••••',
            required,
            minlength='8'
          )
        .form__group
          label.form__label(for='passwordConfirm') Confirm Password
          input#passwordConfirm.form__input(
            type='password',
            placeholder='••••••••',
            required,
            minlength='8'
          )
          input#resetToken(
            type='hidden',
            value=`${resetToken}`
          )
        .form__group
          button.btn.btn--green Change Password